.log > * {
    background-color: var(--bg);
    color: var(--fg);
}

.l-bs {
    /* should be slower than 150 times a minute */
    animation: blink-animation 0.5s linear infinite;
    -webkit-animation: blink-animation 0.5s linear infinite;
}

.l-br {
    /* should be faster than 150 times a minute */
    animation: blink-animation 0.3s linear infinite;
    -webkit-animation: blink-animation 0.3s linear infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink-animation {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.l-cc {
    position: relative;
}

.l-cc::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 2;
}

.l-cr {
    text-decoration: line-through;
}

.l-n {
    filter: invert(1);
}

.l-i {
    font-style: italic;
}

.l-u {
    position: relative;
}

/* 
using the ::before pseudo element because:
- it does not conflict with text-decoration: line-through;
- it does not conflict with doubly-underlined
*/
.l-u::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid;
}

.l-du {
    position: relative;
}

.l-du::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    border-bottom: 3px double;
}

.l-b {
    font-weight: bold;
}

.l-f {
    font-weight: lighter;
}
